body {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
}

.game-container {
	display: flex;
	flex-direction: column;

	canvas {
		border: 5px solid #f1c40f;
		align-self: center;
	}

	.buttons {
		.rl {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		button {
			outline: 0;
			background-color: #3498db;
			color: #fff;
			font-size: 30px;
			font-weight: 600;
			width: 100%;
			margin-bottom: 5px;
			padding: 50px;
		}
	}
}
